*{
  margin: 0;
  padding: 0;
}

.container {

}

.left-column {
  background-color: #9b9fa5;
  width: 25%;
  height: 100vh;
  float: left;
}

.right-column {
  background-color: #d0d5dd;
  width: 75%;
  height: 100vh;
  float: left;
}

.profile {
  margin-top: 50px;
}

.profile-pic {
  width: 60%;
  margin-left: 20%;
  border-radius: 50%;
}

.blog-info {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
}
